%%Panel.HTMLHead%%
<body class="webpage page">
<style type="text/css">
	.landing-page-content .six {
		width: 50%;
	}
</style>
%%Panel.Header-Light%%
<!-- Custom - Landing Page Template -->
<section class="main">
    <div class="landing-page-content">
    %%Panel.MainGridTop%%
        %%Panel.TextBanner%%
    <!-- %%Panel.PageBreadcrumb%% -->
        %%Panel.PageContent%%
        %%Panel.Landing-PageFooter%%
    %%Panel.MainGridBottom%%
    </div><!-- .landing-page-content -->
</section>

%%Panel.Footer-Light%%
%%Panel.HTMLFoot%%
