%%Panel.HTMLHead%%
<body class="webpage page">
<style type="text/css">
.landing-page-content .six {
	width: 50%;
}
.product-grid h3 {
    display: none;
}
.page .product-grid li .ProductImage a {
    width: 100%;
}
.product-grid li {
    padding: 0;
}
.ProductDetails, .product-grid .ProductActionAdd, .product-grid .ProductRating {
    text-align: left;
}
li:hover>.ProductDetails>.ProductName a {
    color: #00aeef;
}
.ProductPrice, .ProductActionAdd a, .product-grid .ProductActionAdd .button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #424242;
    background: none;
}
.product-grid .ProductActionAdd .button {
    color: #00aeef;
    padding: 5px 0 20px;
    text-align: left;
}
.product-all-styles {
    clear: both;
    width: 300px; 
    margin: 40px auto; 
    display: block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 50px;
    background-color: #00adef;
}
.product-all-styles:hover {
    background-color: #33bdf2;
    color:#fff;
    text-decoration: none;
}
.product-testimonial {
    background: #eee; 
    padding: 20px 10px;
    overflow: hidden;
}
</style>
%%Panel.Header-Light%%
<!-- Custom - Landing Page Template -->
<section class="main">
    <div class="landing-page-content">
    %%Panel.MainGridTop%%
        %%Panel.TextBanner%%
    <!-- %%Panel.PageBreadcrumb%% -->
        %%Panel.PageContent%%
        %%Panel.Landing-PageFooter%%
    %%Panel.MainGridBottom%%
    </div><!-- .landing-page-content -->
</section>

%%Panel.Footer-Light%%
%%Panel.HTMLFoot%%
