%%Panel.HTMLHead%%
<body class="webpage page">
%%Panel.Header%%

<section class="main">
  %%Panel.MainGridTop%%
        %%Panel.TextBanner%%
  %%Panel.NewsBreadcrumb%%
    <!-- <div class="sec-banner"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/blog-page-banner-EIM.png" alt="TheraSpecs Blog" width="100%"></div> -->
    <!-- <h1 class="headercaps">Migraine Relief by TheraSpecs</h1> -->
    <!-- <h3 class="headercaps">TheraSpecs eyewear help with migraines, headaches, eyestrain, and other issues triggered or worsened by fluorescent lighting, computer and device screens, or sunlight.</h3> -->
    
    <div class="nine columns">
    %%SNIPPET_RecentPostsContent%%
        <div class="mclear">&nbsp;</div>
        <ul class="pagination right">
            <li class="arrow">%%GLOBAL_SectionPagingPrevious%%</li>
            %%GLOBAL_SectionPaging%%
            <li class="arrow">%%GLOBAL_SectionPagingNext%%</li>
        </ul>
    </div>
    <div class="3 columns">
      %%Panel.blogsidebarpanel%%
    </div>
  %%Panel.MainGridBottom%%
</section>

%%Panel.Footer%%
%%Panel.HTMLFoot%%