%%Panel.HTMLHead%%
<body class="cart page">
%%Panel.Header%%

<section class="main">
    %%Panel.MainGridTopWide%%
        %%Panel.CartBreadcrumb%%
        
        %%Panel.CartHeader%%
        %%Panel.CartStatusMessage%%
        %%Panel.CartContent%%
        
        <div class="row coupon-box-row" style="%%GLOBAL_HideCheckoutButton%%">
            <div class="five columns">%%Panel.SideCouponCodeBox%%</div>
            <div class="five columns end">%%Panel.SideGiftCertificateCodeBox%%</div>
        </div>
        
        %%Panel.SuggestiveCartContent%%
    %%Panel.MainGridBottomWide%%
</section>

<script type="text/javascript">
var google_tag_params = {
ecomm_pagetype: 'cart',
ecomm_prodid: productids || [],
ecomm_totalvalue: parseFloat('%%GLOBAL_CartTotal%%'.replace("$","").replace(",",""))
};
</script>
    
%%Panel.Footer%%

<!-- cart page scripts -->
%%Panel.CartJavaScript%%

%%Panel.HTMLFoot%%