%%Panel.HTMLHead%%
<body class="category page">
%%Panel.Header%%
    
<section class="main">
    %%Panel.MainGridTop%%
        %%Panel.TextBanner%%
        %%Panel.CategoryBreadcrumb%%
        %%Banner.TopBanner%%
        <div class="sec-banner"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/shop-banner.jpg" alt="TheraSpecs" width="100%"></div>
        %%Panel.CategoryHeading%%
        
        <div class="row">%%SNIPPET_CategorySortBox%%</div>
        <div class="row"><div class="four columns mobile-four push-eight">%%Panel.CategoryPagingTop%%</div></div>
        
        %%Panel.CategoryContent%%
        %%Panel.CategoryPagingBottom%%
        
        %%Banner.BottomBanner%%
    %%Panel.MainGridBottom%%
</section>

<script type="text/javascript">
var google_tag_params = {
ecomm_pagetype: 'category',
ecomm_prodid: '',
ecomm_totalvalue: ''
};
</script>
    
%%Panel.Footer%%

<!-- category page scripts -->
<script>
    lang.CompareSelectMessage = '%%LNG_CompareSelectMessage%%';
    lang.PleaseSelectAProduct = '%%LNG_PleaseSelectAProduct%%';
    config.CompareLink = '%%GLOBAL_CompareLink%%';
</script>

%%Panel.HTMLFoot%%