%%Panel.HTMLHead%%
<body class="default page">
%%Panel.Header%%

<section class="main homepage">
    %%Panel.MainGridTop%%
        %%Panel.TextBanner%%

    %%Banner.TopBanner%%

        <div class="utilitarian-home">
            %%Panel.HomeSlideShow%%
            %%Banner.BottomBanner%%
        </div>        

        <div class="home-page-content-block-left">
                <h3 class="alt2">Designed for Maximum Relief</h3>
            <p><b>TheraSpecs</b> are precision tinted, thoughtfully designed eyewear that filter out the harmful light that causes eyestrain, headaches, and migraines.<br><a href="%%GLOBAL_ShopPath%%/why-theraspecs/" title="Migraine and Light Sensitivity Relief">Learn More ›</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="%%GLOBAL_ShopPath%%/shop/" title="Migraine Glasses Styles">View All Styles ›</a></p>
                </div>
                          
        <div class="home-page-content-block-right">
                <h3 class="alt2">Research proves that TheraSpecs:</h3>
                <ul class="blue-carrot-list">
                        <li><b>Reduce</b> headache and migraine frequency and intensity</li>
                        <li><b>Relieve</b> painful <a href="%%GLOBAL_ShopPath%%/light-sensitivity-photophobia/" title="light sensitivity photophobia">light sensitivity</a> and glare</li>
                        <li><b>Protect</b> you from fluorescent lighting</li>
                </ul>
        </div>

        <div class="clear"></div>
        <div class="divider-horz"></div>
    
        <div class="home-page-content-block-title"><h2>TheraSpecs Glasses as Seen In:</h2></div>
    <!-- Hart commented out this link - duplicative now and hard to see/use anyway <div class="home-page-content-block-link"><a href="%%GLOBAL_ShopPath%%/shop/" title="TheraSpecs Migraine Relief">View All TheraSpecs Styles ›</a></div> -->
        <div class="clear"></div>
        <a href="%%GLOBAL_ShopPath%%/press-coverage-reviews/" class="as-seen-on-tv" title="TheraSpecs Migraine Glasses Recommended by The Doctors"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/as-seen-on-banner.png" alt="TheraSpecs Migraine Glasses Recommended by The Doctors"></a>
        <div class="divider-horz"></div>
    
        %%Panel.HomeFeaturedProducts%%
        <!-- %%Panel.HomeNewProducts%% Hart commented out -->
<!-- Hart added button -->
    <a href="%%GLOBAL_ShopPath%%/shop/"><button class="button btn-cart" title="Buy Now" type="button"><span><span>View All Styles</span></span></button></a>
    
        <div class="widget widget-static-block"><h1 class="alt" style="margin-top:30px;">Migraine Relief</h1>
            <p>Ever feel like fluorescent lights are pulsing to the point that your head or eyes ache? Do migraines hit you when you’re trying to enjoy the great outdoors? The truth is both fluorescent lights and natural sunlight can trigger migraines, worsen headaches, and cause eye pain and fatigue. But with TheraSpecs, you can experience fast and effective relief, because our carefully crafted eyewear filter the part of light that can trigger or worsen such problems.</p>

            <h2 class="alt2">Precision tint</h2>
            <p>We use a specialty tint that has distinct, known, and predictable light filtering properties. This is different than a typical tint where the specific filtering properties are unknown or vary with each lens application. Other glasses may appear to have a similar reddish tint. However, they do not focus on the specific parts of light that cause or exacerbate such problems as migraines, eyestrain, headaches, and exhaustion. But through our precision tint, we can ensure that each pair of TheraSpecs accurately filters that problematic light.</p>

            <h2 class="alt2">Reduce migraines without drug side-effects</h2>
            <p>When worn regularly, our glasses can not only provide natural <a href="%%GLOBAL_ShopPath%%" title="migraine relief">migraine relief</a>, but also reduce the frequency of migraines for many. In fact, a clinical study of the light-filtering tint used in TheraSpecs showed that participants experienced, on average, 74 percent fewer attacks per month. But TheraSpecs are so much more than <a href="%%GLOBAL_ShopPath%%/migraine-glasses/" title="migraine glasses">migraine glasses</a>, they also decrease <a href="%%GLOBAL_ShopPath%%/fluorescent-light-glasses/" title="fluorescent light sensitivity">fluorescent light sensitivity</a>, combat photophobia, and relieve headaches and eye pain.</p>

            <h3 class="alt2">Unlike typical glasses</h3>
            <p>TheraSpecs are thoughtfully designed to reduce pressure on the head and are durable for all-day wear. Available in an array of styles, they come with indoor or outdoor lenses, which means whether you’re looking for migraine glasses, <a href="%%GLOBAL_ShopPath%%/migraine-sunglasses/" title="migraine sunglasses">migraine sunglasses</a>, <a href="%%GLOBAL_ShopPath%%/computer-glasses/" title="computer glasses">computer glasses</a> or glasses for fluorescent lighting, we have you covered.</p>

            <p>Visit our <a href="%%GLOBAL_ShopPath%%/migraine-relief-treatment-answers/" title="Migraine Treatment and Relief">Migraine Treatment and Relief FAQ</a> page for answers to many frequently asked questions about migraines and available treatment options.</p></div>
    
        <div class="clear"></div><br />
        <div class="divider-horz"></div><br />
    
        <div class="recent-blogs">
            %%Panel.HomeRecentBlogs%%
        </div>
    
    %%Panel.MainGridBottom%%
</section>            

<script type="text/javascript">
var google_tag_params = {
ecomm_pagetype: 'home',
ecomm_prodid: '',
ecomm_totalvalue: ''
};
</script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "http://www.theraspecs.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://www.theraspecs.com/search.php?search_query={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
    
%%Panel.Footer%%

%%Panel.HTMLFoot%%