%%Panel.HTMLHead%%
<body class="message page">
%%Panel.Header%%
    
<section class="main">
    %%Panel.MainGridTop%%
        
        <h1>%%GLOBAL_MessageTitle%%</h1>
        
        <p class="InfoMessage Message">
            We have received your message and will respond as soon as we are able.
        </p>
    
        <p class="InfoMessage Message">
            <a href="http://www.theraspecs.com">
                <button class="button">Continue</button>
            </a>
        </p>
    %%Panel.MainGridBottom%%
</section>

%%Panel.Footer%%

%%Panel.HTMLFoot%%