<link rel="stylesheet" href="%%ASSET_Styles/letter.css%%" type="text/css">
<header>
<img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/letter-logo.png">
</header>

<div class="PackingSlip">
<p>
Dear %%GLOBAL_FirstName%%,
</p>

<p>
Thank you for your order! It is my sincere hope that these TheraSpecs bring you <em>at least</em> as much relief as they have brought Kerrie and many others.
</p>

<p>
I have included some tips and information on the back of this letter, but please don&#8217;t hesitate to call us at 602-456-6896 or email contact@theraspecs.com if we can answer any questions.
</p>

<p>
If you find your TheraSpecs helpful we would be grateful if you helped us spread the word, both in person and online. Because of the specialty nature of TheraSpecs we depend on word of mouth to reach everyone we can help. I&#8217;ve included a few TheraSpecs cards you can pass on - let us know if you need more!
</p>

<p>
All the best,
</p>

<figure class="signature">
<img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/letter-hart-signature.png">
</figure>

<p>
Hart Shafer<br>
Founder and CEO<br>
TheraSpecs Company
</p>

<p>
P.S. I would love to hear any feedback on your TheraSpecs experience!<br>
You can always reach me at hart.shafer@theraspecs.com.
</p>

<div class="pagebreak"></div>

<h2>How can I adjust the fit of my TheraSpecs?</h2>
<p>
All TheraSpecs frames are highly adjustable. The metal frames can simply be bent to shape, while the plastic frames adjust best if warmed with a hair dryer first. Go slowly while adjusting: tiny changes can make huge differences! Contact us if you would like more details. Note: adjusting your TheraSpecs will not change our 60 day no-hassle return policy.
</p>

<h2>How do I clean and care for my TheraSpecs?</h2>
<p>
Lightly brush off any grit and then clean them with lens cleaner and a microfiber cloth. The bag they come in works well for this. When you aren&#8217;t wearing your TheraSpecs, protect them with their microfiber bag or a case. (Tip: lens cleaner can be bought at many stores or you can make your own. Fill a small spray bottle with 2/3 rubbing alcohol and 1/3 water and then shake to mix.) 
</p>

<h2>When should I wear my TheraSpecs?</h2>
<p>
We&#8217;ve seen three common patterns. First, some people wear their TheraSpecs whenever they are awake because they find that light is almost always painful or a trigger. Second, some people wear TheraSpecs whenever they&#8217;ll be exposed to light they know causes them problems, such as fluorescents or bright sunlight. Finally, some use their TheraSpecs for relief during acute attacks.
</p>

<h2>How long does it take for TheraSpecs to help?</h2>
<p>
Most people can feel a difference as soon as they put on their TheraSpecs, although it can take several weeks to adjust. This is most commonly reported by customers who are used to wearing sunglasses indoors.
</p>

<h2>What if I have another question?</h2>
<p>
We&#8217;d love to help however we can. Send us an email or give us a call:
</p>

<table class="contacts">
<tr>
  <td class="icon"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/letter-mail-icon.png"></td>
  <td>contact@theraspecs.com</td>
</tr>

<tr>
  <td class="icon"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/letter-globe-icon.png"></td>
  <td>www.theraspecs.com/contact-us</td>
</tr>

<tr>
  <td class="icon"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/letter-phone-icon.png"></td>
  <td>602-456-6896 or toll-free 844-2SOOTHE (844-276-6843)</td>
</tr>
</table>

</div>
