%%Panel.HTMLHead%%
<body class="search page">
%%Panel.Header%%

<section class="main">
    %%Panel.MainGridTop%%
        <div>
            %%Banner.TopBanner%%
        </div>
        
        %%Panel.SearchPageHeader%%
        %%Panel.SearchPage%%
        
        %%Banner.BottomBanner%%
    %%Panel.MainGridBottom%%
</section>

<script type="text/javascript">
var google_tag_params = {
ecomm_pagetype: 'searchresults',
ecomm_prodid: '',
ecomm_totalvalue: ''
};
</script>

%%Panel.Footer%%

<!-- search page scripts -->
%%Panel.SearchJavaScript%%

%%Panel.HTMLFoot%%