<table style="border: 1px solid #c7d7db; width: 620px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="left" width="300"><strong>%%GLOBAL_ProductName%%</strong> %%GLOBAL_ProductOptions%% %%GLOBAL_ProductAttributes%% <br /> %%GLOBAL_ExpectedReleaseDate%%%%GLOBAL_CartProductFields%%%%GLOBAL_EventDate%%</td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="center" width="95">%%GLOBAL_ProductSku%%</td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="center" width="35">%%GLOBAL_ProductQuantity%%</td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="center" width="95">%%GLOBAL_ProductPrice%%</td>
<td style="padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA;" align="right" width="95"><strong>%%GLOBAL_ProductTotal%%</strong></td>
</tr>
</tbody>
</table>