<table id="CheckoutCartGrid" style="width: 620px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #3da6e1; color: white; padding: 5px; font-weight: bold;" align="left" nowrap="nowrap" width="280">%%LNG_CartItems%%</td>
<td style="font-family: Arial; font-size: 12px; background-color: #3da6e1; color: white; padding: 5px; font-weight: bold;" align="center" nowrap="nowrap" width="95">%%LNG_SKU%%</td>
<td style="font-family: Arial; font-size: 12px; background-color: #3da6e1; color: white; padding: 5px; font-weight: bold;" align="center" nowrap="nowrap" width="35">%%LNG_Qty%%</td>
<td style="font-size: 12px; background-color: #3da6e1; color: white; padding: 5px; font-weight: bold;" align="center" nowrap="nowrap" width="95">%%LNG_ItemPrice%%</td>
<td style="font-family: Arial; font-size: 12px; background-color: #3da6e1; color: white; padding: 5px; font-weight: bold;" align="right" nowrap="nowrap" width="95">%%LNG_ItemTotal%%</td>
</tr>
</tbody>
</table>