<div>
    <a href="%%GLOBAL_Slide_Link_Url%%">
        <img src="%%GLOBAL_CdnStorePath%%/%%GLOBAL_ImageDirectory%%/theme_images/slide1r.jpg" alt="%%GLOBAL_Slide_Image_AlternateText%%">
            <div class="slide-content">
                <p><strong>TheraSpecs</strong> provide better relief than sunglasses—guaranteed.</p>
            <div class="slide1-shop-button">
                <a href="%%GLOBAL_ShopPath%%/shop/" ><button class="button-blue btn-cart" title="Shop Now" type="button">
                    <span>
                <span>SHOP NOW</span>
                    </span>
                </button></a>
            </div>
            <div class="slide1-learn-more-button">
                <a href="%%GLOBAL_ShopPath%%/why-theraspecs/" >
                <button class="button-green btn-cart" title="Learn More" type="button">
                    <span>
                        <span>LEARN MORE</span>
                    </span>
                </button></a>
            </div>
        </div>
    </a>
</div>
<div>
        <img src="%%GLOBAL_CdnStorePath%%/%%GLOBAL_ImageDirectory%%/theme_images/slide2__23884r.jpg" alt="Prevent office headaches and be free to enjoy brightly lit spaces.">
            <div class="slide2-content">
                <p>Prevent office headaches and be free to enjoy brightly lit spaces.</p>
            <div class="slide2-shop-button">
                <a href="%%GLOBAL_ShopPath%%/shop/" ><button class="button-blue btn-cart" title="Shop Now" type="button">
                    <span>
                <span>SHOP NOW</span>
                    </span>
                </button>
                </a>
            </div>
            <div class="slide2-learn-more-button">
                <a href="%%GLOBAL_ShopPath%%/why-theraspecs/" >
                <button class="button-green btn-cart" title="Learn More" type="button">
                    <span>
                        <span>LEARN MORE</span>
                    </span>
                </button></a>
            </div>
        </div>
</div>
<div>
        <img src="%%GLOBAL_CdnStorePath%%/%%GLOBAL_ImageDirectory%%/theme_images/slide3__67931r.jpg" alt="Studies prove TheraSpecs naturally remove irritating light.">
            <div class="slide3-content">
                <p>Studies prove TheraSpecs naturally remove irritating light.</p>
            <div class="slide3-learn-more-button">
                <a href="%%GLOBAL_ShopPath%%/why-theraspecs/" >
                <button class="button-green btn-cart" title="Learn More" type="button">
                    <span>
                        <span>LEARN MORE</span>
                    </span>
                </button></a>
            </div>
        </div>
</div>