<div style="width: 190px;">

    <div class="block block-blog block-recent-posts">
        <div class="block-content">
            %%Panel.HomeRecentBlogs%%
        </div>
    </div>

<div id="bannerRotator"><a href="%%GLOBAL_ShopPath%%/details.html"><img title="" src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner3.jpg" alt="" /></a></div>
<div class="divider-horz">&nbsp;</div>
<h2>Customer Kudos</h2>
<div class="divider-horz">&nbsp;</div>
<div id="quoteRotator"><span class="quote-mark">"</span> <span class="quote">TheraSpecs have been a life-changer for me. For those who struggle with lights, this is a product that cannot be passed by!</span> <span class="quote-mark">"</span>
<p><span class="name">&mdash;Heather</span><br /> <span class="loc">Northwest OH</span></p>
</div>

<script type="text/javascript">// <![CDATA[
jQuery(document).ready(function(){
                var myBanners = new Array();
                    myBanners[0] = '<a href="%%GLOBAL_ShopPath%%/shop.html"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner1.jpg?t=1419103259" alt="" title="" ></a>';
                    myBanners[1] = '<a href="%%GLOBAL_ShopPath%%/details.html"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner2.jpg?t=1419103259" alt="" title="" ></a>';
                    myBanners[2] = '<a href="%%GLOBAL_ShopPath%%/details.html"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner3.jpg?t=1419103260" alt="" title="" ></a>';
                    myBanners[3] = '<a href="%%GLOBAL_ShopPath%%/shop.html"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner4.jpg?t=1419103260" alt="" title="" ></a>';
                    myBanners[4] = '<a href="%%GLOBAL_ShopPath%%/shop.html"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/right-banner5.jpg?t=1419103260" alt="" title="" ></a>';

                var myQuotes = new Array();
                    myQuotes[0] = 'I popped my TheraSpecs on as soon as I got the box and the first word that came out of my mouth was "ahhhh!"';
                    myQuotes[1] = 'After having a migraine every day for 6 months I have finally been without pain for the past two weeks for the first time. Wow.';
                    myQuotes[2] = 'I can honestly say I only take them off to sleep. My eyes feel like they breathe a sigh of relief every time I put them on.';
                    myQuotes[3] = 'TheraSpecs work, period. I have been sensitive to all light my whole life and wearing these every day, all day when I’m indoors has helped a lot!';
                    myQuotes[4] = 'Wearing TheraSpecs has been another step towards being able to work full time again.';
                    myQuotes[5] = 'I call my TheraSpecs my "miracle glasses" because they have given me back the freedom to go where I want. Big, big thumbs up';
                    myQuotes[6] = 'I have been doing computer work for hours and NO MIGRAINE! NO EYE STRAIN! I do not feel like the screen is bothering me at all! I have my freedom back!';
                    myQuotes[7] = 'My worst migraines are triggered by fluorescent lights. Before TheraSpecs I had to avoid them altogether!';
                    myQuotes[8] = 'I am no longer out sick every week due to the lighting. Thanks so much for saving my job and changing my life!';
                    myQuotes[9] = 'My TheraSpecs have done wonders protecting against fluorescent lights. No more burning eyes or headaches!';
                    myQuotes[10] = 'My TheraSpecs have completely eliminated the headaches I was having at work from the fluorescent lighting.';
                    myQuotes[11] = 'TheraSpecs have eliminated my symptoms under fluorescent lighting. Thank you for a life changing product!';
                    myQuotes[12] = 'TheraSpecs are an answer to a prayer. For the first time I can open the blinds in the morning and not close my eyes.';
                    myQuotes[13] = 'TheraSpecs have been a life-changer for me. For those who struggle with lights, this is a product that cannot be passed by!';
                    myQuotes[14] = 'When I got my TheraSpecs I immediately felt relief—not only did my eyes feel relaxed but my brain felt relaxed too!';
                    myQuotes[15] = 'TheraSpecs gave me almost instant relief as if my eyes were "breathing" and saying thanks the second I put them on!';
                    myQuotes[16] = 'My indoor TheraSpecs gave me my life back. Because of the lighting at my job, I could not continue to work without them.';

                var myName = new Array();
                    myName[0] = '—Julie';
                    myName[1] = '—Kathleen';
                    myName[2] = '—Paul';
                    myName[3] = '—Jennifer';
                    myName[4] = '—Denise';
                    myName[5] = '—Nancy';
                    myName[6] = '—Lisa';
                    myName[7] = '—Jackie';
                    myName[8] = '—Victoria';
                    myName[9] = '—Brian';
                    myName[10] = '—Erica';
                    myName[11] = '—Sandi';
                    myName[12] = '—Renee';
                    myName[13] = '—Heather';
                    myName[14] = '—Lea';
                    myName[15] = '—Joel';
                    myName[16] = '—Dawn';

                var myLoc = new Array();
                    myLoc[0] = 'Franklin, TN';
                    myLoc[1] = 'San Francisco, CA';
                    myLoc[2] = 'Fort Mill, SC';
                    myLoc[3] = 'Lexington, MA';
                    myLoc[4] = 'Waldorf, MD';
                    myLoc[5] = 'Pollock Pines, CA';
                    myLoc[6] = 'New York, NY';
                    myLoc[7] = 'Chicago, IL';
                    myLoc[8] = 'Chicago, IL';
                    myLoc[9] = 'Toronto, ON';
                    myLoc[10] = 'Bloomington, MN';
                    myLoc[11] = 'Central CO';
                    myLoc[12] = 'Akron, OH';
                    myLoc[13] = 'Northwest OH';
                    myLoc[14] = 'Brooklyn, NY';
                    myLoc[15] = 'Hamilton, ON';
                    myLoc[16] = 'Houston, TX';

                var randomBanners = Math.floor(Math.random()*myBanners.length);
                    jQuery('#bannerRotator').html(myBanners[randomBanners]);

                var randomQuotes = Math.floor(Math.random()*myQuotes.length);
                    jQuery('#quoteRotator .quote').html(myQuotes[randomQuotes]);
                    jQuery('#quoteRotator .loc').html(myLoc[randomQuotes]);
                    jQuery('#quoteRotator .name').html(myName[randomQuotes]);
            });

            jQuery(function($) {
              $('#faq-menu ul').hide();
              $('#faq-menu ul:first').show();
              $('#faq-menu li a').click(function() {
                var checkElement = $(this).next();

                if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                  return false;
                }

                if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                  $('#faq-menu ul:visible').slideUp('normal');
                  checkElement.slideDown('normal');
                  return false;
                }
              });
            });
// ]]></script>