

%%GLOBAL_CartCheckoutButtonControlScript%%
<div id="CartHeader" class="cart-header row">
    <div class="six mobile-four columns">
        <h1>%%LNG_YourShoppingCart%%</h1>
    <br /></div>
<!--    <div class="six mobile-four columns cart-button-col-top">
        <a class="button right" href="%%GLOBAL_CheckoutLink%%" onclick="" style="%%GLOBAL_HideCheckoutButton%%;" title="%%LNG_CheckoutButtonTitle%%"><i class="icon-shopping-cart"></i> Proceed To Checkout</a>
                
        <div>
            %%GLOBAL_AdditionalCheckoutButtons%%
        </div>
    </div> -->
</div>
%%Discount.FreeShippingEligibility%%
