<div class="bc_footer">
            <div class="divider-horz"></div>
            <div class="bc_footer-top-block">
            <div class="bc_footer-top-block-shipping"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/footer-shipping-block.jpg" alt="TheraSpecs Free Shipping Available on US Orders"></div>
            <div class="bc_footer-top-block-secure"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/footer-secure-block.jpg" alt="TheraSpecs Secure Shopping"></div>
            <div class="bc_footer-top-block-guarantee">
                <div class="bc_footer-top-block-guarantee-badge"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/guarantee-badge.png?t=1436210786" alt="TheraSpecs Money-Back Guarantee"></div>
                <p>TheraSpecs can help, but every brain is different. If you don't like your pair of TheraSpecs, return them within 60 days for a full refund.&nbsp;&nbsp;<a href="%%GLOBAL_ShopPath%%/return-policy/" title="TheraSpecs Return Policy">Learn More ›</a></p>
            <div class="clear"></div>
        </div>
            <div class="clear"></div>
        </div>
        <div class="divider-horz"></div>
</div>

    <footer class="main">
        <div class="row">
            <div class="three columns">
                <div>
                    <h4>Navigation</h4>
                    <ul>
                                <li><a href="%%GLOBAL_ShopPath%%" title="TheraSpecs Migraine Glasses Light Sensitivity Relief">Home</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/shop/" title="TheraSpecs Migraine Glasses">Shop</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/why-theraspecs/" title="Fluorescent light protection & photophobia relief with TheraSpecs">Details</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/our-story/" title="Learn about TheraSpecs">Our Story</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/frequently-asked-questions/" title="TheraSpecs FAQ">FAQ</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/blog/" title="Migraine Relief Blog">Blog</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/customer-reviews/" title="TheraSpecs Customer Reviews">Kudos</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/contact-theraspecs/" title="Contact TheraSpecs">Contact Us</a></li>
                            </ul>
                </div>
            </div>
            <div class="three columns">
                <div>
                    <h4>Customer Service</h4>
                    <ul>
                                <li><a href="%%GLOBAL_ShopPath%%/return-policy/" title="TheraSpecs Money-Back Guarantee">Return Policy</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/shipping/" title="TheraSpecs Free Shipping">Shipping</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/press/" title="TheraSpecs Press Information and Resources">Press</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/legal/" title="TheraSpecs Legal Information and Privacy Policy">Legal</a></li>
                            </ul>
                </div>
            </div>
            <div class="three columns">
                <div>
                    <h4>My Account</h4>
                    <ul>
                                <li><a href="%%GLOBAL_ShopPath%%/account.php" rel="nofollow">Login</a></li>
                                <li><a href="%%GLOBAL_ShopPath%%/login.php?action=create_account" rel="nofollow">Sign Up</a></li>
                                <!-- <li><a href="%%GLOBAL_ShopPath%%/customer-reviews/">My Orders</a></li> -->
                            </ul>
                </div>
            </div>
            <div class="three columns">
                <div>
                    <h4>Connect With Us</h4>
                    %%Panel.SocialLinks%%
                </div>


            </div>
            <!-- <div class="three columns">
                <h4>Categories</h4>
                %%Panel.SideCategoryList%%
            </div> -->
            <!-- <div class="three columns">
                <h4>Brands</h4>
                <ul>
                    %%Panel.SideShopByBrand%%
                </ul>
            </div> -->
            <div class="three columns">
                <h4>Newsletter</h4>
            <!--    %%Panel.SideNewsletterBox%% -->

<!-- begin Active Campaign newsletter form  -->
<style>
  ._footerform {
  position:relative;
  background:transparent;
  width:220px;/*F*/
  padding:0!important;
  text-align:left;
  }
  ._footerform em {
  color:#9a9a9a;
  }
  ._footerform a {
  margin-left:3px;
  }

  ._footerform .footerformwrapper {
  margin-top: 15px;
  }
  ._footerform ._footerfield,
  ._footerform ._footerfield ._footerlabel,
  ._footerform ._footertype_radio,
  ._footerform ._type_checkbox,
  ._footerform ._footertype_captcha,
  ._footerform ._footerfield table {
  background:none;
  }
  ._footerform ._footerfield  {
  position:relative;
  width:100%;
  cursor:move;
  font-style:normal;
  margin:1.2em 0;
  padding:0;
  overflow:hidden;
  }
  ._footerform ._footerfield input[type="text"] {
  width:95%;
  padding:8px;
  font-size:16px;
  border:1px solid #b6b6b6;
  }
  ._footerform ._footerfield ._footerlabel {
  display:block;
  margin:0 0 0.5em;
  padding:0!important;
  font-size:15px;
  }
  ._footerform ._footerfield ._footeroption input[type="checkbox"],
  ._footerform ._footerfield ._footeroption input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px;
  cursor:pointer;
  vertical-align:middle;
  }
  ._footerform ._footerfield ._footeroption input[type="submit"],
  ._footerform ._footerfield ._footeroption input[type="button"] {
  margin:0;
  cursor:pointer;
  height:35px;
  width:auto;
  font-size:15px;
  }
  ._footerform ._footerfield ._footeroption select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:15px;
  border:1px solid #b6b6b6;
  }
  ._footerform ._footertype_radio ._footeroption,
  ._footerform ._type_checkbox ._footeroption {
  font-size:13px;
  font-weight:normal;
  line-height:1.8;
  }
  ._footerform ._footertype_date ._footeroption input[type="text"] {
  float:left;
  width:100px;
  }
  ._footerform ._footertype_date ._footeroption input[type="button"] {
  width:37px;
  height:36px;
  margin-left:5px;
  padding:10px;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._footerform ._footertype_captcha img {
  float:left;
  margin:0 6px 0 0;
  width:70px;
  height:33px;
  border:1px solid #b6b6b6;
  }
  ._footerform ._footertype_captcha input[type="text"] {
  margin:-14px 0 0 0!important;
  width:25%;
  }
  ._footerform ._footerfield table  {
  width:100%!important;
  }
  ._footerform ._footerfield table tbody tr td  {
  width:50%!important;
  font-size:15px;
  }
  ._footerform {
  width:220px;/*F*/
  background:transparent;
  color:#2c2c2c;
  font-weight:normal;
  }
  ._footerform #notice {
  margin:10px 0 0 -3px!important;
  padding:0;
  color:#acacac;
  font-size:11px;
  font-family:helvetica,arial,sans-serif;
  }
  ._footerform #notice a:link, ._footerform #notice a:visited {
  color:#acacac;
  text-decoration:underline;
  }
  ._footerform ._footerfield  {
  position:relative;
  width:100%;
  cursor:default;
  font-style:normal;
  margin:0 0 4px;
  padding:0;
  overflow:hidden;
  }
  ._footerform ._footerfield input[type="text"],
  ._footerform ._footerfield input[type="email"] {
  width:96%;
  padding:4px;
  font-size:14px;
  background:#fafafa;
  border:1px solid #c7c7c7;
  border-top:1px solid #b6b6b6;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  }
  ._footerform ._footerfield ._footerlabel {
  margin:0 0 4px;
  color:#fff;
  font-size:13px;
  font-family:helvetica,arial,sans-serif;
  font-weight:700;
  }
  ._footerform ._footerfield ._footeroption {
  margin:0;
  padding:0;
  color:#2c2c2c;
  font-size:13px;
  font-family:helvetica,arial,sans-serif;
  font-weight:normal;
  line-height:20px;
  }
  ._footerform ._footertype_header ._footerlabel {
  width:100%;
  font-style:normal;
  font-size:16px!important;
  line-height:20px;
  color:#005698;
  margin:0 0 5px!important;
  padding:0 0 15px!important;
  overflow:hidden;
  border-bottom:1px solid #e0e0e0;
  }
  ._footerform ._footertype_input ._footeroption  textarea{
  width:97%!important;
  background:#fafafa;
  border:1px solid #c7c7c7;
  border-top:1px solid #b6b6b6;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  }
  ._footerform ._footertype_input ._footeroption input[type="submit"],
  ._footerform ._footertype_input ._footeroption input[type="button"] {
  width:auto;
  margin:2px 0 0!important;
  padding:2px 15px!important;
  cursor:pointer;
  font-family:verdana,arial,sans-serif;
  font-weight:700;
  font-size:12px;
  color:#3f3f3f;
  background:#f7f7f7 url(https://theraspecs.activehosted.com/admin/templates/form-themes/compact-basic/images/btn_bg.gif) repeat-x 0 0;
  border:1px solid #999999;
  border-bottom:1px solid #888888;
  text-align:center;
  }
  ._footerform ._footertype_input ._footeroption input[type="submit"]:hover,
  ._footerform ._footertype_input ._footeroption input[type="button"]:hover {
  border:1px solid #afafaf;
  border-bottom:1px solid #a5a5a5;
  background:#f7f7f7;
  color:#525252;
  }
  ._footerform ._footertype_date ._footeroption input[type="text"] {
  float:left;
  width:100px;
  }
  ._footerform ._footertype_radio ._footeroption label {
  display:inline;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  }
  ._footerform ._footertype_radio ._footeroption label input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px;
  cursor:pointer;
  vertical-align:middle;
  line-height:20px;
  }
  ._footerform ._footertype_date ._footeroption input[type="button"] {
  width:24px;
  height:24px;
  margin:2px 0 0 5px;
  padding:0;
  background:url(https://theraspecs.activehosted.com/admin/templates/form-themes/compact-basic/images/icon_calendar.gif) no-repeat 0 0;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._footerform ._footerfield ._footeroption select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:14px;
  border:1px solid #b6b6b6;
  }
  ._footerform ._footertype_captcha img {
  float:left;
  width:42px;
  height:24px;
  margin:0 6px 0 0;
  border:1px solid #b6b6b6;
  }
  ._footerform ._footertype_captcha input[type="text"] {
  float:left;
  margin:0!important;
  width:40%;
  font-size:14px;
  }
  ._footerform ._footerfield table {
  margin:0;
  padding:0;
  border-collapse:collapse;
  width:100%!important;
  table-layout:fixed;
  margin-bottom:18px;
  font-size:13px!important;
  border-collapse:collapse;
  border-spacing:0;
  }
  ._footerform ._footerfield table td {
  padding:0 10px 0 0!important;
  line-height:18px;
  text-align:left;
  font-size:13px!important;
  color:#606060;
  }
  ._footerform ._footertype_input ._footeroption  table tbody#_forward_rcpt input {margin:0 0 4px 0; width:96%!important;}
  ._footerform ._footertype_input ._footeroption  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}
  .form_errors{
  text-align:center;
  font-size:15px;
  margin:10px;
  color:#900;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom:20px;
  }
</style>
<form action='//theraspecs.activehosted.com/proc.php' method='post' id='_form_1105' accept-charset='utf-8' enctype='multipart/form-data'>
  <input type='hidden' name='f' value='1105'>
  <input type='hidden' name='s' value=''>
  <input type='hidden' name='c' value='0'>
  <input type='hidden' name='m' value='0'>
  <input type='hidden' name='act' value='sub'>
  <input type='hidden' name='nlbox[]' value='6'>
  <div class='_footerform'>
    <div class='footerformwrapper'>
      <div id='_field330'>
        <div id='compile330' class='_footerfield _footertype_input'>
          <div class='_footerlabel'>
            Full Name
          </div>
          <div class='_footeroption'>
            <input type='text' name='fullname' placeholder="Full Name" >
          </div>
        </div>
      </div>
      <div id='_field331'>
        <div id='compile331' class='_footerfield _footertype_input'>
          <div class='_footerlabel'>
            Email *
          </div>
          <div class='_footeroption'>
            <input type='email' name='email' placeholder="Email" >
          </div>
        </div>
      </div>
      <div id='_field332'>
        <div id='compile332' class='_footerfield _footertype_input'>
          <div class='_footeroption'>
            <input type='submit' value="Subscribe">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end Active Campaign newsletter form  -->

            </div>
        </div>
        <div class="row">
            <div class="twelve columns credit-links">
                <p>
                    &copy; 2012- %%GLOBAL_Year%% %%GLOBAL_StoreName%% Company.
                    %%GLOBAL_AllPricesAreInCurrency%%.
                    <br>
                    %%SNIPPET_SitemapLink%% <span class="divider">|</span>
                    %%GLOBAL_MobileSiteLink%%
                </p>
                %%GLOBAL_DebugDetails%%
            </div>
        </div>
    </footer>
</div> <!-- /.wrap -->

<div id="AjaxLoading" class="hidden alert-box secondary">
    <i class="icon-spinner icon-spin"></i>
    <span>%%LNG_LoadingPleaseWait%%</span>
</div>

<!-- // FOOTER JS // -->
<script>
    var config = {};
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.ShopPathNormal = '%%GLOBAL_ShopPathNormal%%';
    config.ShopPathSSL = '%%GLOBAL_ShopPathSSL%%';
    config.AppPath = ''; // BIG-8939: Deprecated, do not use.
    config.FastCart = %%GLOBAL_FastCart%%;

var openFastCart = function(data){
alert("It works.");
  productGridEvenImages();
  productGridEvenBoxes();
};
</script>

<!-- start Equitable Internet Marketing tracking -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1007126544;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007126544/?value=0&guid=ON&script=0"/>
</div>
</noscript>
<!-- end Equitable Internet Marketing tracking -->

%%GLOBAL_QuickSearchJS%%

<script type="text/javascript" src="%%GLOBAL_ShopPath%%/content/plugins.js"></script>
<!-- <script src="%%GLOBAL_TPL_PATH%%/js/template.js"></script> -->
<script src="%%GLOBAL_AppPath%%/template/js/template.js"></script>
<script src="%%GLOBAL_jQueryUIPath%%"></script>

%%Panel._QuickView%%


<!-- Required for BC statistics to work -->
%%GLOBAL_FooterScripts%%
%%GLOBAL_PinterestJS%%

%%GLOBAL_AdditionalScriptTags%%

%%Panel._FastCart%%