<div class="bc_footer">
            <div class="divider-horz"></div>
            <div class="bc_footer-top-block">
            <div class="bc_footer-top-block-shipping"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/footer-shipping-block.jpg" alt="TheraSpecs Free Shipping Available on US Orders"></div>
            <div class="bc_footer-top-block-secure"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/footer-secure-block.jpg" alt="TheraSpecs Secure Shopping"></div>
            <div class="bc_footer-top-block-guarantee">
                <div class="bc_footer-top-block-guarantee-badge"><img src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/guarantee-badge.png?t=1436210786" alt="TheraSpecs Money-Back Guarantee"></div>
                <p>TheraSpecs can help, but every brain is different. If you don't like your pair of TheraSpecs, return them within 60 days for a full refund.&nbsp;&nbsp;<a href="%%GLOBAL_ShopPath%%/return-policy/" title="TheraSpecs Return Policy">Learn More ›</a></p>
            <div class="clear"></div>
        </div>
            <div class="clear"></div>
        </div>
        <div class="divider-horz"></div>
</div>

    <footer class="main">
        <div class="row">
            <div class="twelve columns credit-links">
                <p>
                    &copy; 2012- %%GLOBAL_Year%% %%GLOBAL_StoreName%% Company.
                    %%GLOBAL_AllPricesAreInCurrency%%.
                    <br>
                    %%SNIPPET_SitemapLink%% <span class="divider">|</span>
                    %%GLOBAL_MobileSiteLink%%
                </p>
                %%GLOBAL_DebugDetails%%
            </div>
        </div>
    </footer>
</div> <!-- /.wrap -->

<div id="AjaxLoading" class="hidden alert-box secondary">
    <i class="icon-spinner icon-spin"></i>
    <span>%%LNG_LoadingPleaseWait%%</span>
</div>

<!-- // FOOTER JS // -->
<script>
    var config = {};
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.ShopPathNormal = '%%GLOBAL_ShopPathNormal%%';
    config.ShopPathSSL = '%%GLOBAL_ShopPathSSL%%';
    config.AppPath = ''; // BIG-8939: Deprecated, do not use.
    config.FastCart = %%GLOBAL_FastCart%%;

var openFastCart = function(data){
alert("It works.");
  productGridEvenImages();
  productGridEvenBoxes();
};
</script>

<!-- start Equitable Internet Marketing tracking -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1007126544;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007126544/?value=0&guid=ON&script=0"/>
</div>
</noscript>
<!-- end Equitable Internet Marketing tracking -->

%%GLOBAL_QuickSearchJS%%

<script type="text/javascript" src="%%GLOBAL_ShopPath%%/content/plugins.js"></script>
<!-- <script src="%%GLOBAL_TPL_PATH%%/js/template.js"></script> -->
<script src="%%GLOBAL_AppPath%%/template/js/template.js"></script>
<script src="%%GLOBAL_jQueryUIPath%%"></script>

%%Panel._QuickView%%


<!-- Required for BC statistics to work -->
%%GLOBAL_FooterScripts%%
%%GLOBAL_PinterestJS%%

%%GLOBAL_AdditionalScriptTags%%

%%Panel._FastCart%%