<style type="text/css">
@media screen and (max-width: 768px) {

.responsive .wrap {
    border-top: 4px solid #002e59;
}
.responsive .page header.main {
    padding: 30px 15px 20px;
}
.responsive .account-links {
    display: block;
}
.responsive .account-links .theraspecs-phone,
.responsive .account-links .theraspecs-phone span {
    color: #0F364B;
    font-size: 12px !important;
    font-weight: normal;
    font-family: "Helvetica",sans-serif;
}

}
</style>
<div class="wrap">    
    <header class="main clearfix">
        <div class="logo-container">
            <div class="logo">
                <!-- %%GLOBAL_HeaderLogo%% -->
                <a href="http://www.theraspecs.com/"><img src="http://cdn6.bigcommerce.com/s-du14j3c/product_images/theraspecs_logo_1418418998__87188.png" alt="TheraSpecs"></a>
            </div>
            
        </div>
        <div class="account-links">
            <ul class="inline-list">
                <li class="theraspecs-phone">
                    <span><i class="icon-phone"></i>TOLL FREE: 844-2SOOTHE</span>
                </li>
            </ul>
        </div>

        <div class="live-chat" style="%%GLOBAL_LiveChatCodeEnabled%%">
            %%GLOBAL_LiveChatCode%%
        </div>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    </header>