<!DOCTYPE html>
<html lang="en" class="responsive">

<head>
    
    <meta charset="utf-8">
    
    <title>%%Page.WindowTitle%%</title>

    <meta name="description" content="%%Page.MetaDescription%%">
    <meta name="keywords" content="%%Page.MetaKeywords%%">
    <meta name="viewport" content="width=device-width">
    <meta name="msvalidate.01" content="B9983FC6E66C8EF58958790887DF38F0" />
    <meta name="msvalidate.01" content="BEA91DAD45BA4E922BB78DC676C76699" />
    %%GLOBAL_AdditionalMetaTags%% %%Page.CanonicalLink%% %%Page.Robots%%
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%">
    
    %%GLOBAL_Stylesheets%%
    
    %%GLOBAL_HeadRSSLinks%%
    
    <!-- // HEADER JS: Only modernizr & jquery // All other JS in Panels/Footer.html // -->
    <script src="%%GLOBAL_TPL_PATH%%/js/modernizr.foundation.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="%%GLOBAL_TPL_PATH%%/js/jquery-1.8.3.min.js"><\/script>')</script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/content/common.js"></script>
    
    %%GLOBAL_TrackingCode%%
        
</head>


