<h2>Shop Popular Styles</h2>
%%Panel.HomeFeaturedProducts%%

<a href="/shop/" class="product-all-styles">Browse All Styles</a>

<div class="product-testimonial">
    <div class="four columns ">
        <h3 class="alt3">Designed for Maximum Relief</h3>
        <p>TheraSpecs are the only <strong>migraine glasses</strong> designed specifically for migraine sufferers. They block light from above and the sides and are ultra-lightweight and flexible to minimize pressure on already-sensitive heads.</p>
    </div>
    <div class="four columns ">
        <p>"I popped my TheraSpecs on as soon as I got the box and the first word that came out of my mouth was "ahhhh!" They are amazingly lightweight and the wrap-around design really blocks light from the sides. I will be wearing them all the time indoors! TheraSpecs are a small miracle for this chronic migraineur!"</p>
        <p><strong>-Julie</strong><br><span class="gray-italic">Franklin, Tennessee</span></p>
    </div>
    <div class="four columns ">
        <p>"TheraSpecs have truly been a life saver for me. I’ve gone from barely being able to work 4 hours in a day and then needing to pass out on the couch to being able to work 10 hours without any effect. After having a migraine every day for 6 months I have finally been without pain. Wow!"</p>
        <p><strong>-Kathleen</strong><br><span class="gray-italic">San Francisco, CA</span></p>
    </div>
</div>