<style type="text/css">
.product-row img {
    width: 100%;
}
.product-row .ProductPrice,
.product-row .ProductActionAdd a {
    font-size: 18px;font-weight: bold;font-family: 'Open Sans Condensed', sans-serif;
}
/* new html structure */
.product-row-slim a {
    display: block;
    margin-bottom: 20px;
}
.product-row-slim a:hover {
    text-decoration: none;
}
.product-row-slim a:hover span {
    color: #00adef;
}
.product-row-slim img {
    width: 100%;
    max-width: 345px;
}
.product-row-slim .ProductName {
    color: #424242;
}
.product-row-slim .ProductPrice,
.product-row-slim .ProductActionAdd {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #424242;
}
.product-row-slim .ProductActionAdd {
    color: #00adef;
}
.product-all-styles {
    clear:both;
    width:300px; 
    margin: 40px auto; 
    display:block;
    color:#fff;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height:50px;
    background-color: #00adef;
}
.product-all-styles:hover {
    background-color: #33bdf2;
    color:#fff;
    text-decoration: none;
}
.product-testimonial {
    background:#eee; 
    padding: 20px 10px;
    overflow:hidden;
}
</style>
<h2>Shop Popular Styles</h2>

<div class="row product-row-slim">
    <div class="four columns">
        <a href="https://www.theraspecs.com/pilot-theraspecs-indoor/">
            <img src="https://cdn6.bigcommerce.com/s-du14j3c/products/62/images/536/pilot_indoor_34_1200__30545.1453766120.200.200.jpg?c=2" alt="TheraSpecs Pilot Indoor">
            <span class="ProductName">Pilot TheraSpecs - Indoor</span>
            <span class="ProductPrice">$99.00</span>
            <span class="ProductActionAdd">View Style</span>
        </a>
    </div>
    <div class="four columns">
        <a href="https://www.theraspecs.com/pilot-theraspecs-outdoor/">
            <img src="https://cdn6.bigcommerce.com/s-du14j3c/products/63/images/561/pilot_outdoor_34_1200__10893.1453771591.200.200.jpg?c=2" alt="TheraSpecs Pilot Outdoor">
            <span class="ProductName">Pilot TheraSpecs - Outdoor</span>
            <span class="ProductPrice">$129.00</span>
            <span class="ProductActionAdd">View Style</span>
        </a>
    </div>
    <div class="four columns ">
        <a href="https://www.theraspecs.com/over-rx-theraspecs-indoor/">
            <img src="https://cdn6.bigcommerce.com/s-du14j3c/products/48/images/583/over_indoor_34_1200_328__96905.1456779783.200.200.jpg?c=2" alt="Over-Rx TheraSpecs - Indoor">
            <span class="ProductName">Over-Rx TheraSpecs - Indoor</span>
            <span class="ProductPrice">$99.00</span>
            <span class="ProductActionAdd">View Style</span>
        </a>
    </div>
</div>
<!--div class="row product-row">
    <div class="four columns">
        <a href="http://www.theraspecs.com/pilot-theraspecs-indoor/"><img src="http://cdn6.bigcommerce.com/s-du14j3c/products/62/images/536/pilot_indoor_34_1200__30545.1453766120.200.200.jpg?c=2" alt="TheraSpecs Pilot Indoor"></a>
        <span class="ProductName"><a href="http://www.theraspecs.com/pilot-theraspecs-indoor/">Pilot TheraSpecs - Indoor</a></span>
        <span class="ProductPrice" style="">$99.00</span>
        <span class="ProductActionAdd"><a href="http://www.theraspecs.com/pilot-theraspecs-indoor/">View Style</a></span>
    </div>
    <div class="four columns">
        <a href="http://www.theraspecs.com/pilot-theraspecs-outdoor/"><img src="http://cdn6.bigcommerce.com/s-du14j3c/products/63/images/561/pilot_outdoor_34_1200__10893.1453771591.200.200.jpg?c=2" alt="TheraSpecs Pilot Outdoor"></a>
        <span class="ProductName"><a href="http://www.theraspecs.com/pilot-theraspecs-outdoor/">Pilot TheraSpecs - Outdoor</a></span>
        <span class="ProductPrice">$129.00</span>
        <span class="ProductActionAdd"><a href="http://www.theraspecs.com/pilot-theraspecs-outdoor/">View Style</a></span>
    </div>
    <div class="four columns ">
        <a href="http://www.theraspecs.com/over-rx-theraspecs-indoor/"><img src="http://cdn6.bigcommerce.com/s-du14j3c/products/48/images/583/over_indoor_34_1200_328__96905.1456779783.200.200.jpg?c=2" alt="Over-Rx TheraSpecs - Indoor"></a>
        <span class="ProductName"><a href="http://www.theraspecs.com/over-rx-theraspecs-indoor/">Over-Rx TheraSpecs - Indoor</a></span>
        <span class="ProductPrice">$99.00</span>
        <span class="ProductActionAdd"><a href="http://www.theraspecs.com/over-rx-theraspecs-indoor/">View Style</a></span>
    </div>
</div-->

<a href="http://www.theraspecs.com/shop/" class="product-all-styles">Browse All Styles</a>

<div class="product-testimonial">
    <div class="four columns ">
        <h3 class="alt3">Designed for Maximum Relief</h3>
        <p>TheraSpecs are the only <strong>migraine glasses</strong> designed specifically for migraine sufferers. They block light from above and the sides and are ultra-lightweight and flexible to minimize pressure on already-sensitive heads.</p>
    </div>
    <div class="four columns ">
        <p>"I popped my TheraSpecs on as soon as I got the box and the first word that came out of my mouth was "ahhhh!" They are amazingly lightweight and the wrap-around design really blocks light from the sides. I will be wearing them all the time indoors! TheraSpecs are a small miracle for this chronic migraineur!"</p>
        <p><strong>-Julie</strong><br><span class="gray-italic">Franklin, Tennessee</span></p>
    </div>

    <div class="four columns ">
        <p>"TheraSpecs have truly been a life saver for me. I’ve gone from barely being able to work 4 hours in a day and then needing to pass out on the couch to being able to work 10 hours without any effect. After having a migraine every day for 6 months I have finally been without pain. Wow!"</p>
        <p><strong>-Kathleen</strong><br><span class="gray-italic">San Francisco, CA</span></p>
    </div>
</div>