 <dl class="tabs">
    <dd class="active"><a href="#Description">%%LNG_JS_Description%%</a></dd>
    <dd><a href="#Reviews" id="ReviewsTabLink">%%LNG_JS_Reviews%%</a></dd>
    <dd style="display:%%GLOBAL_HideRelatedProductsPanel%%"><a href="#RelatedProducts">Related Products</a></dd>
    <dd><a href="#ProductVideos">%%LNG_JS_ProductVideos%%</a></dd>    
    <dd><a href="#Warranty">%%LNG_JS_Warranty%%</a></dd>
    <dd><a href="#SimilarProductsByCustomerViews">%%LNG_JS_SimilarProductsByCustomerViews%%</a></dd>
    <dd><a href="#ByCategory">By Category</a></dd>
    <dd style="display: %%GLOBAL_HideCustomFields%%"><a href="#OtherDetails">%%LNG_JS_OtherDetails%%</a></dd>
</dl>