<div>
    <p align="center">Test message for top of page. <a href="http://www.theraspecs.com/search.php?search_query=classic">Test link</a> for test message.</p>
</div>



<!--<div class="Block BlockContent banner_home_page_top">
    <p align="center">Test message for top of page. <a href="http://www.theraspecs.com/search.php?search_query=classic">Test link</a> for test message.</p>
</div>

<!-- <img title="presidentsday.png" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/presidentsday.png?t=1455137980" alt="TheraSpecs will be closed for Presidents' Day on Monday, February 15th." /> -->

<!-- <img title="xmaspleasenote2.png" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" src="https://cdn6.bigcommerce.com/s-du14j3c/product_images/uploaded_images/xmaspleasenote3.png?t=1450909306" alt="TheraSpecs is closed for the holiday weekend and will reopen Monday, Dec 28th" /> -->

<!-- <img title="thanksgivingsalebanner.png" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" src="http://www.theraspecs.com/product_images/uploaded_images/thanksgivingsalebanner.png" alt="Thanksgiving Sale Banner: all styles on sale through Monday" /> -->

<!-- <div class="row">
<div class="four columns">&nbsp;</div>
<div class="four columns"><img class="__mce_add_custom__" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" title="thanksgivingsalebanner.png" src="http://www.theraspecs.com/product_images/uploaded_images/thanksgivingsalebanner.png" alt="Thanksgiving Sale Banner: all styles on sale through Monday" width="320" height="80" /></div>
<div class="four columns"><img class="__mce_add_custom__" title="thanksgivingpleasenote.png" src="http://www.theraspecs.com/product_images/uploaded_images/thanksgivingpleasenote.png" alt="thanksgivingpleasenote.png" width="320" height="80" /></div>
</div> -->