<p><img class="__mce_add_custom__" title="email-header-640.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/email-header-640.png" alt="email-header-640.png" width="640" height="88" /></p>
<div style="width: 600px; padding: 0px 20px 5px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #003366;">%%LNG_ThanksForRegisteringAt%% %%GLOBAL_StoreName%%</span></h2>
<p>%%LNG_Hi%% %%GLOBAL_FirstName%%,</p>
<p>%%LNG_ThanksForRegisteringAtIntro%%</p>
<p><strong>%%LNG_EmailAddress%%:</strong> %%GLOBAL_Email%%<br /> <strong>%%LNG_Password%%:</strong> %%GLOBAL_Password%%</p>
<p>%%LNG_ThanksForRegisteringEmailLogin%%</p>
<p>If you have any questions regarding your account simply reply to this message or give us a call. We'd be happy to help.</p>
</div>
<p>%%GLOBAL_EmailFooter%%</p>