<p><img class="__mce_add_custom__" title="email-header-640.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/email-header-640.png" alt="email-header-640.png" width="640" height="88" /></p>
<div style="width: 600px; padding: 0px 20px 5px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #003366;">%%LNG_OrderStatusChanged%%</span></h2>
<p>%%GLOBAL_OrderStatusChangedHi%%,</p>
<p>%%GLOBAL_OrderNumberStatusChangedTo%%.</p>
<p>Your order details are included below. If you have any questions please don't hesitate to email <a href="mailto:contact@theraspecs.com" target="_blank">contact@theraspecs.com</a> or to give us a call.</p>
<h3 style="font-size: 13px; color: #cc6600;"><span style="color: #003366;">%%LNG_OrderDetails%%</span></h3>
%%GLOBAL_RefundedAmountRow%%
<table style="width: 100%;">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedOrderTotal%%:</td>
<td style="font-family: Arial; font-size: 13px;">%%GLOBAL_OrderTotal%%</td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedDatePlaced%%:</td>
<td style="font-family: Arial; font-size: 13px;">%%GLOBAL_DatePlaced%%</td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 13px; font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedPaymentMethod%%:</td>
<td style="font-family: Arial; font-size: 13px;">%%GLOBAL_PaymentMethod%%</td>
</tr>
</tbody>
</table>
<h3 style="font-size: 13px; color: #cc6600;"><span style="color: #003366;">%%LNG_ShipmentTrackingNumbersLinks%%</span></h3>
%%GLOBAL_TrackingLinkList%%
<p>%%GLOBAL_ViewOrderStatusLink%%</p>
</div>
<p>%%GLOBAL_EmailFooter%%</p>