<p><img class="__mce_add_custom__" title="email-header-640.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/email-header-640.png" alt="email-header-640.png" width="640" height="88" /></p>
<div style="width: 600px; padding: 0px 20px 5px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #003366;">%%LNG_ProductReviewEmailHeading%%</span></h2>
<p>%%LNG_ProductReviewEmailSubheading%%</p>
<p>%%LNG_ProductReviewEmailInstructions%%</p>
<ul>%%SNIPPET_ProductReviewItems%%</ul>
<p>%%LNG_ProductReviewEmailThanks%%</p>
</div>
<p>%%GLOBAL_EmailFooter%%</p>
<p><a href="%%GLOBAL_ProductReviewEmailUnsubscribeLink%%">%%LNG_ProductReviewEmailUnsubscribe%%</a>%%LNG_ProductReviewEmailUnsubscribeSuffix%%</p>