<p><img class="__mce_add_custom__" title="email-header-640.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/email-header-640.png" alt="email-header-640.png" width="640" height="88" /></p>
<div style="width: 600px; padding: 0px 20px 5px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #000080;">%%LNG_NotificationConfirmationForReturn%% #%%GLOBAL_OrderId%%</span></h2>
<div style="width: 100%; padding: 10px; background-color: #fff4ea;"><span style="color: #000080;"><img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" alt="" />&nbsp; %%LNG_NotificationAReturnSummaryIsShownBelow%% <a href="%%GLOBAL_ShopPath%%/account.php?view=returns"><span style="color: #000080;">%%LNG_ClickHere%%</span></a>.</span></div>
<br />
<table style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%">%%LNG_ReturnReason%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnReason%%</td>
</tr>
<tr style="display: %%GLOBAL_HideReturnAction%%;">
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%">%%LNG_ReturnAction%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnAction%%</td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" valign="top" nowrap="nowrap">%%LNG_YourComments%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnComments%%</td>
</tr>
</tbody>
</table>
<h3 style="font-size: 13px; color: #cc6600;"><span style="color: #003366;">%%LNG_NotificationYourReturnContainsTheFollowingItems%%</span></h3>
<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap">%%LNG_ReturnItems%%</td>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="120">%%LNG_Qty%%</td>
</tr>
</tbody>
</table>
%%SNIPPET_ReturnItems%%</div>
<p>%%GLOBAL_EmailFooter%%</p>