<p><img class="__mce_add_custom__" title="email-header-640.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/email-header-640.png" alt="email-header-640.png" width="640" height="88" /></p>
<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #003366;">%%LNG_StatusOfReturnChanged%%</span></h2>
<p>%%LNG_Hi%% %%GLOBAL_CustomerFirstName%%,</p>
<p>%%LNG_RecentlySubmittedReturnRequest%%</p>
<p>%%GLOBAL_ProductQuantity%% x %%GLOBAL_ProductName%%</p>
<p>%%LNG_ReturnStatusChangedTo%% <strong>%%GLOBAL_ReturnStatus%%</strong>. %%GLOBAL_ReturnReceivedCredit%%</p>
%%GLOBAL_ReturnInstructions%%
<p><a href="%%GLOBAL_ShopPath%%/account.php?action=view_returns">%%LNG_ClickToViewReturnStatus%%</a></p>
</div>
<p>%%GLOBAL_EmailFooter%%</p>